/.vs
/AH.Web/Properties
/AH.Web/bin
/AH.Web/obj
/AH.Web/wwwroot/static
/AH.Web/wwwroot/index.html
/AH.Web/wwwroot/favicon.ico
/AH.Web/node_modules
/AH.Web/wwwroot/dist
/AH.Auth/Properties
/AH.Auth/bin
/AH.Auth/obj
/AHBackEnd.sln.DotSettings.user
/AH.Web/AH.Web.csproj.user
/AH.Data/obj
/AH.Domain/obj
/AH.IdentityServer4.Admin.Core/obj
/AH.IdentityServer4.Admin.EntityFrameworkCore/obj
/AH.Service/obj
/AH.Data/bin/Debug/netcoreapp2.0
/AH.IdentityServer4.Admin.EntityFrameworkCore/bin/Debug/netstandard2.0
/AH.Service/bin/Debug/netcoreapp2.0
/AH.Domain/bin/Debug/netstandard2.0
/AH.IdentityServer4.Admin.Core/bin/Debug/netstandard2.0
/AH.Auth/AH.Auth.csproj.user
/AH.Auth/*.user
/AH.Auth/*.log
/Web/*.user
/Web/.vs
bin
obj
node_modules
/Auth/AH.Auth/AH.Auth.log
/Admin/.vs/AH.Admin/v15
/Auth/.vs/AH.Auth/v15
