@{
	ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<p>
	We are S.D.A Engineers, LP. Lots of simple guy live a simple life. Coding for zhuangbility, writing for nice girls, reading 100+ books per year for fun.
</p>
